.table-header-wrap {
	position: sticky;
	top: 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	justify-items: center;
	padding: 10px 0;
	margin-bottom: 10px;
	background-color: #393E46;
	color: white;
	border-radius: 15px;
	box-shadow: 0 5.5px 17px 0 rgba(21, 31, 42, 0.1);

}